In [1]:
import pandas as pd
import numpy as np
import os

In [8]:
# Load data from Moreton bay case study
folder = "/Users/charlieturner/Documents/CountingBoats/runs/val/val4"

csvs = [f for f in os.listdir(folder) if f.endswith('.csv') and not "all_boats" in f]
# now group them by aoi where filenames will be date_aoi.csv
# end up with list of list of csvs
aois = list(set([f.split("_")[1] for f in csvs]))
grouped_csvs = []
for aoi in aois:
    grouped_csvs.append([f for f in csvs if aoi in f])

# Load all csvs into dataframes
dfs = []
for group in grouped_csvs:
    for csv in group:
        df = pd.read_csv(os.path.join(folder, csv))
        df["aoi"] = csv.split("_")[1].split(".")[0]
        dfs.append(df)
    
# Concatenate all dataframes with new column for aoi
df = pd.concat(dfs)
df["correct"] = (df["ml_class"] == df["manual_class"])
df.head()

          x         y  ml_class  manual_class    aoi  correct
0  3386.375  1775.500         0            -1  heron    False
1  3506.000  1812.000         0            -1  heron    False
2  4246.531  1795.156         0            -1  heron    False
3  3859.500  1887.500         0            -1  heron    False
4  2923.000  2130.000         0            -1  heron    False

In [10]:
for aoi in [a.split("_")[0].split(".")[0] for a in aois]:
    boats = df[df["aoi"] == aoi]
    print("AOI: ", aoi)
    print("Total boats: ", len(boats))
    print("Correct boats: ", len(boats[boats["correct"]]))
    print("Accuracy: ", round(len(boats[boats["correct"]]) / len(boats), 2))

AOI:  heron
Total boats:  72
Correct boats:  9
Accuracy:  0.12
AOI:  haymen
Total boats:  163
Correct boats:  140
Accuracy:  0.86
AOI:  keppel
Total boats:  407
Correct boats:  247
Accuracy:  0.61

In [5]:
# Graph 2 & 3: Same as above, but with stationary (graph 2) and moving boats (graph 3) separated

In [ ]:
#